<!DOCTYPE html>
<html lang="en">

    <!--
      To add some pizazz to this demo, I've used some basic Lightning Design System
      components copied straight from https://www.lightningdesignsystem.com examples
      with only minor tweaks to text or variants.
    -->

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Tour of Salesforce REST APIs for Multiple DML in Single Request</title>

        <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

        <style>

          /* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
          pre {
              white-space: pre-wrap;       /* Since CSS 2.1 */
              white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
              white-space: -pre-wrap;      /* Opera 4-6 */
              white-space: -o-pre-wrap;    /* Opera 7 */
              word-wrap: break-word;       /* Internet Explorer 5.5+ */
          }

          /* https://stackoverflow.com/questions/7300760/prevent-line-break-of-span-element */
          .text-nowrap {
              white-space: nowrap;
          }

          .slds-form-element__label {
            font-weight: bold;
          }

        </style>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

    </head>

    <body>

        <div class="slds-grid">
            <div class="slds-col">
            <header class="slds-global-header_container">
              <div class="slds-global-header slds-grid slds-grid_align-spread">
                <div class="slds-global-header__item">
                  <div class="slds-global-header__logo">
                    <a href="http://midwestdreamin.com" target="_blank">
                      <img src="/images/midwest-dreamin-logo.png" alt="Midwest Dreamin"/>
                    </a>
                  </div>
                </div>
                <div class="slds-global-header__item slds-global-header__item_search">
                  <span style="color:#0070d2; font-weight:bold;">Tour of Salesforce REST APIs for Multiple DML in Single Request</span>
                </div>
                <ul class="slds-global-header__item slds-grid slds-grid_vertical-align-center">
                  <li class="slds-grid">
                    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon-favorites slds-is-selected" aria-pressed="false" title="Toggle Favorites">
                      <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#favorite"></use>
                      </svg>
                      <span class="slds-assistive-text">Toggle Favorite</span>
                    </button>
                    <span class="slds-dropdown-trigger slds-dropdown-trigger_click">
                      <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon slds-m-left_none" title="View Favorites">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                        </svg>
                        <span class="slds-assistive-text">View Favorites</span>
                      </button>
                    </span>
                  </li>
                  <li class="slds-dropdown-trigger slds-dropdown-trigger_click slds-p-horizontal_xxx-small">
                    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small slds-button_icon-container slds-button_icon-x-small slds-global-header__button_icon-actions slds-m-horizontal_xx-small" title="Global Actions">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                      </svg>
                      <span class="slds-assistive-text">Global Actions</span>
                    </button>
                  </li>
                  <li class="slds-dropdown-trigger slds-dropdown-trigger_click">
                    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon" title="Help and Training">
                      <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#question"></use>
                      </svg>
                      <span class="slds-assistive-text">Help and Training</span>
                    </button>
                  </li>
                  <li class="slds-dropdown-trigger slds-dropdown-trigger_click">
                    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon" title="Setup">
                      <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
                      </svg>
                      <span class="slds-assistive-text">Setup</span>
                    </button>
                  </li>
                  <li class="slds-dropdown-trigger slds-dropdown-trigger_click">
                    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon" title="Notifications">
                      <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
                      </svg>
                      <span class="slds-assistive-text">Notifications</span>
                    </button>
                  </li>
                  <li class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_x-small">
                    <button class="slds-button" title="Doug Ayers" aria-haspopup="true">
                      <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                        <a href="https://douglascayers.com" target="_blank">
                          <img alt="Person name" src="/images/DougAyers.jpg" title="Doug Ayers">
                        </a>
                      </span>
                    </button>
                  </li>
                </ul>
              </div>
            </header>
            </div>
        </div>

        <div class="slds-grid" style="margin-top:3.8em;">
            <div class="slds-col">
            <div class="slds-context-bar">
              <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
                <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
                  <div class="slds-context-bar__icon-action">
                    <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Midwest Dreamin 2017">
                      <span class="slds-icon-waffle">
                        <span class="slds-r1"></span>
                        <span class="slds-r2"></span>
                        <span class="slds-r3"></span>
                        <span class="slds-r4"></span>
                        <span class="slds-r5"></span>
                        <span class="slds-r6"></span>
                        <span class="slds-r7"></span>
                        <span class="slds-r8"></span>
                        <span class="slds-r9"></span>
                      </span>
                    </button>
                  </div>
                  <span class="slds-context-bar__label-action slds-context-bar__app-name">
                    <span class="slds-truncate" title="Midwest Dreamin 2017">Midwest Dreamin</span>
                  </span>
                </div>
              </div>
              <nav class="slds-context-bar__secondary" role="navigation">
                <ul class="slds-grid">
                  <li class="slds-context-bar__item {{#if tabHomeSelected}}slds-is-active{{/if}}">
                    <a href="/" class="slds-context-bar__label-action" title="Home">
                      <span class="slds-truncate" title="Home">Home</span>
                    </a>
                  </li>
                  <li class="slds-context-bar__item {{#if tabTraditionalSelected}}slds-is-active{{/if}}">
                    <a href="/api/traditional" class="slds-context-bar__label-action" title="Traditional">
                      <span class="slds-truncate" title="Traditional">Traditional</span>
                    </a>
                  </li>
                  <li class="slds-context-bar__item {{#if tabApexSelected}}slds-is-active{{/if}}">
                    <a href="/api/apex" class="slds-context-bar__label-action" title="Custom Apex">
                      <span class="slds-truncate" title="Custom Apex">Custom Apex</span>
                    </a>
                  </li>
                  <li class="slds-context-bar__item {{#if tabComposite1Selected}}slds-is-active{{/if}}">
                    <a href="/api/composite1" class="slds-context-bar__label-action" title="Composite">
                      <span class="slds-truncate" title="Composite">Composite</span>
                    </a>
                  </li>
                  <li class="slds-context-bar__item {{#if tabTreeSelected}}slds-is-active{{/if}}">
                    <a href="/api/tree" class="slds-context-bar__label-action" title="SObject Tree">
                      <span class="slds-truncate" title="SObject Tree">SObject Tree</span>
                    </a>
                  </li>
                  <li class="slds-context-bar__item {{#if tabComposite2Selected}}slds-is-active{{/if}} slds-border_left">
                    <a href="/api/composite2" class="slds-context-bar__label-action" title="Composite 2">
                      <span class="slds-truncate" title="Composite 2">Composite 2</span>
                    </a>
                  </li>
                  <li class="slds-context-bar__item {{#if tabComposite3Selected}}slds-is-active{{/if}}">
                    <a href="/api/composite3" class="slds-context-bar__label-action" title="Composite 3">
                      <span class="slds-truncate" title="Composite 3">Composite 3</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            </div>
        </div>

        {{{body}}}

    </body>

</html>