<div class="slds-m-left_large slds-m-right_large">

    <!-- load '/views/partials/requestResponseBtn.handlebars' -->
    {{> requestResponseBtn}}

    <div id="request" class="slds-grid">

        <div class="slds-col">
            <pre><code class="js slds-box">
var conn = new jsforce.Connection({ ... });

var path = '/services/data/v40.0';

conn.requestPost( path + '/composite', {            // &lt;instance&gt;/services/data/v40.0/composite
    'allOrNone' : true,
    'compositeRequest' : [
        {
            'method' : 'GET',                       // &lt;instance&gt;/services/data/v40.0/query
                encodeURIComponent("SELECT id FROM Account WHERE name = 'GearsCRM' ORDER BY CreatedDate DESC LIMIT 1")
                .replace(/%20/g, '+' ),             // "application/x-www-form-urlencoded"
            'referenceId' : 'AccountResults'
        },
        {
            'method' : 'POST',
            'url' : path + '/sobjects/Contact',     // &lt;instance&gt;/services/data/v40.0/sobjects/Contact
            'referenceId' : 'NewContact',
            'body' : {
                'AccountId' : '@{AccountResults.records[0].Id}',
                'FirstName' : 'Doug',
                'LastName' : 'Ayers'
            }
        }
    ]
}, function( error, response ) {
    if ( error ) {
        // handle error: no account or contact created
        // all DML rolled back together
    } else {
        // account + contact have been created!
    }
});
            </code></pre>
        </div>

    </div>

    <div id="response" class="slds-grid slds-hide">

        <div class="slds-col slds-size_1-of-2 slds-p-right_x-small">
            <div class="slds-text-heading_medium">🙂 Happy Path</div>
            <pre><code class="js slds-box">
{{jsonResponse}}
            </code></pre>
        </div>

        <div class="slds-col slds-size_1-of-2 slds-p-left_x-small">
            <div class="slds-text-heading_medium">🙁 Unhappy Path</div>
            <pre><code class="js slds-box">
{
  "compositeResponse": [
    {
      "body": [
        {
          "errorCode": "PROCESSING_HALTED",
          "message": "The transaction was rolled back since another operation in the same transaction failed."
        }
      ],
      "httpHeaders": {},
      "httpStatusCode": 400,
      "referenceId": "AccountResults"
    },
    {
      "body": [
        {
          "errorCode": "PROCESSING_HALTED",
          "message": "The transaction was rolled back since another operation in the same transaction failed."
        }
      ],
      "httpHeaders": {},
      "httpStatusCode": 400,
      "referenceId": "NewContact"
    }
  ]
}
            </code></pre>
        </div>

    </div>

</div>