<div class="slds-grid">

    <div class="slds-col slds-size_1-of-2 slds-m-around_small">

        <div class="demo-only slds-grid">
            <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap">
                <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y">
                    <div class="slds-panel__section slds-box">
                        <h3 class="slds-text-heading_small slds-m-bottom_medium">Session Information</h3>
                        <ul>
                            <li class="slds-form-element slds-hint-parent slds-border_bottom">
                                <span class="slds-form-element__label">Speaker</span>
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static">Doug Ayers</span>
                                </div>
                            </li>
                            <li class="slds-form-element slds-hint-parent slds-border_bottom">
                                <span class="slds-form-element__label">Title</span>
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static">Senior Developer, GearsCRM</span>
                                </div>
                            </li>
                            <li class="slds-form-element slds-hint-parent slds-border_bottom">
                                <span class="slds-form-element__label">Community Involvement</span>
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static">
                                        <span class="text-nowrap"><b>Salesforce MVP</b></span> &bull;
                                        <span class="text-nowrap">Nashville Developer Group Leader</span> &bull;
                                        <span class="text-nowrap">RAD Women Apex Coach</span> &bull;
                                        <span class="text-nowrap">Technical Reviewer for Packt Publishing</span> &bull;
                                        <span class="text-nowrap">Blogger</span> &bull;
                                        <span class="text-nowrap">Open Source Developer</span>
                                    </span>
                                </div>
                            </li>
                            <li class="slds-form-element slds-hint-parent slds-border_bottom">
                                <span class="slds-form-element__label">Certifications</span>
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static">
                                        13x Certified including
                                        <span class="text-nowrap"><b>System Architect</b></span>,
                                        <span class="text-nowrap"><b>Application Architect</b></span>,
                                        and <span class="text-nowrap"><b>Platform Developer II</b></span>
                                    </span>
                                </div>
                            </li>
                            <li class="slds-form-element slds-hint-parent slds-border_bottom">
                                <span class="slds-form-element__label">Additional Information</span>
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static">
                                    <a href="https://twitter.com/@DouglasCAyers" target="_blank">@DouglasCAyers</a>
                                    <br/>
                                    <a href="https://douglascayers.com" target="_blank">douglascayers.com</a>
                                    <br/>
                                    <a href="https://github.com/douglascayers" target="_blank">github.com/douglascayers</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="slds-col slds-size_1-of-2 slds-p-around_small">

        <div class="slds-box">
            <!-- <h3 class="slds-text-heading_small slds-m-bottom_medium">Sponsors</h3> -->
            <img src="/images/midwest-dreamin-platinum-sponsors.png"/>
            <br/>
            <img src="/images/midwest-dreamin-gold-sponsors.png"/>
        </div>

    </div>

</div>