<div class="slds-grid">

    <div class="slds-col slds-size_1-of-1 slds-p-around_small">

        <div class="slds-box">
            <a herf="https://www.pepuptech.org" target="_blank">
                <img src="/images/PepUpTech.png"/>
            </a>
        </div>

    </div>

</div>